@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background: linear-gradient(0.25turn, #1f2029, #252734, #2b2d3f, #313947, #373f50) center;
  background-size: cover;
  color: white;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container a, .credit a {
  position: relative;
  color: cornflowerblue;
  text-decoration: none;
}

.container a:hover, .credit a:hover {
  color: cornflowerblue;
}

.container a::before, .credit a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.container a:hover::before, .credit a:hover::before {
  transform: scaleX(1);
}

.credit {
  text-align: center;
}

.btn {
  --bg: #000;
  --hover-bg: #ff90e8;
  --hover-text: #000;
  color: #fff;
  border: 1px solid var(--bg);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.btn:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.btn:active {
  transform: translate(0);
  box-shadow: none;
}

.authTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navProfile > a:first-child > .btn {
  margin-right: 5px;
}

.navProfile > a:last-child > .btn {
  margin-right: 5px;
}

.impressum-container {
  padding: 5% 5%;
}

.navImpressum {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}